/*  Color Codes 
(subject to slight changes/tweaks based on my ocd of making stuff look nice)

    Deep_Moss_Green: #3B6B35
    Fern_Green: #637F42
    Olive_Drab_Camouflage: #4C4A41
    Bistre_Brown: #9F7B21
    Misty_Moss: #BFAA72
    Antique_Bronze: #645B16

*/

header {
    padding: 25px 10px 20px 30px;
    background: #637f42;
    width: 100%;
}

body {
    background: #fff2b8;
}

.title {
    padding: 20px 0px 0px 0px;
}

footer {
    background: #637f42;
    padding: 20px;
    color: whitesmoke;
    border-top: solid 4px #4c4a41;
}

#map {
    background-color: #fff2b8;
    height: 450px;
}

.modal1 {
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
  
    }
    
  .modal-card1{
    background-color: azure;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 02px 4px rgba(150, 200, 0, 0.2);
    text-align: center;
    font-size: 20px;
  
  }
   
  .modal h1 {
    margin: 0;
  }
  
  .modal p {
    font-size: 20px;
  }