/*  Color Codes 
(subject to slight changes/tweaks 
based on my ocd of making stuff look nice)

    Deep_Moss_Green: #3B6B35
    Fern_Green: #637F42
    Olive_Drab_Camouflage: #4C4A41
    Bistre_Brown: #9F7B21
    Misty_Moss: #BFAA72
    Antique_Bronze: #645B16

*/

header {
    padding: 25px 10px 20px 30px;
    background: #637f42;
    overflow: auto;
    width: 100%;
}

body {
    background: #fff2b8;
    min-height: 175vh;
    overflow: auto;
    margin-bottom: 35px;
    clear: both;
}

.title {
    padding: 20px 0px 0px 0px;
}

footer {
    background: #637f42;
    padding: 20px;
    color: whitesmoke;
    border-top: solid 4px #4c4a41;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#map {
    background-color: #fff2b8;
    height: 450px;
    margin-left: 5px;
}

.field {
    max-height: 450px;
    overflow: auto;
}

.modal1 {
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
    
.modal-card1{
    background-color: rgb(222 230 173);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 02px 4px rgba(150, 200, 0, 0.2);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  
}
   
.modHead {
    font-size: 40px;
    font-weight: bold;
    color: #637f42;
}

.modText {
    font-size: 20px;
    color: darkslategray
}
.modBtn {
    background:#645B16d6;
    border: solid 2px black;
    border-radius: 10px;
    color: #daf1da;
    font-weight: bolder;
    margin: 20px; 
    transition: .7s;
}

.modBtn:hover {
    background: #bdd860;
    transition: .7s;
    border-radius: 30px;
    border: double 6px;
}

.stateBtn {
    background: #645b16d6;
    color: whitesmoke;
    border: solid 2px black ;
    border-radius: 8px 20px 20px 8px;
    font-weight: bold;    
    transition: .7s
}

.stateBtn:hover {
    background: #bdd860;
    color: #1f3827;
    transition: .7s;
    border: double 6px;
    border-radius: 8px 40px 40px 8px;
}

.history-data {
    background: #645b16d6;
    color: whitesmoke;
    border: solid 2px black ;
    border-radius: 8px 20px 20px 8px;
    font-weight: bold;
    transition: .7s
}
.history-data:hover {
    background: #BDD860;
    color: #1F3827;
    transition: .7s;
    border: double 6px;
    border-radius: 8px 40px 40px 8px;
}

.npText {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 0px 5px 15px;
    background: #BDD860;
}

.npQuest {
    font-size: 24px;
    font-weight: bold;
    background: #BDD860;
    margin-bottom: 5px;
    padding: 5px 0px 5px 15px
        
}